BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortBlocksOnASingleLine: true

BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement : true
  AfterEnum: true
  AfterFunction: true 
  AfterNamespace: true
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom


BreakConstructorInitializers : BeforeComma
ColumnLimit: 0

IndentWidth: 4
IncludeCategories:
  - Regex: 'stdafx'
    Priority: -1

MaxEmptyLinesToKeep: 2
PointerAlignment: Left

Language: Cpp
