BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
    
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true


BreakConstructorInitializers : BeforeComma
ColumnLimit: 0

IndentWidth: 4
IncludeCategories:
  - Regex: 'stdafx'
    Priority: -1

MaxEmptyLinesToKeep: 2
PointerAlignment: Left

Language: Cpp
